@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply antialiased text-slate-900 dark:text-slate-100;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400/60 dark:bg-slate-600/80 rounded-full;
}
